.img-thumbnail {
  // margin-top: 5% !important;
  border: none !important;
  padding: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  // max-width: 375px;
}

// .card {
//  max-width: 440px;
//  margin: auto;
// }

.card-body {
 padding: 5%;
}

.card-footer {
 padding: 5%;
 border-top: none;
}
