<div class="container">
  <h2 class="text-center">
    Members {{ likeParams.predicate == 'liked' ? 'you liked' : 'who liked you' }}
  </h2>
  <div class="btn-group m-2" name="likeParams.predicate">
    <button
      class="btn btn-sm btn-primary"
      btnRadio="liked" [(ngModel)]="likeParams.predicate"
      (click)="loadMembers()"
      [disabled]="likeParams.predicate == 'liked'">
      Members you liked
    </button>
    <button
      class="btn btn-sm btn-primary"
      btnRadio="likedby"
      [(ngModel)]="likeParams.predicate"
      (click)="loadMembers()"
      [disabled]="likeParams.predicate == 'likedby'">
      Members who liked you
    </button>
  </div>
  <div class="row d-flex">
    <div *ngFor="let member of members" class="cardlist">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination *ngIf="pagination && members.length"
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="onPageChange($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
</pagination>
</div>
